--
-- PostgreSQL database cluster dump
--

-- Started on 2025-10-21 22:06:58 UTC

\restrict ClNEcyy8IsLZbPY5FC7W1QZCOXXcSU9aKRuTIrZNRINXOcFJr3JLn4QCj1lK3OC

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:V+WxaNcGyr1pkPsyFSp0Fg==$I5g8cgPhF723xU4J/BxNUYbtN5GjrLLreSZDgu1swvQ=:VMb2ttTWyPSg/Nfah5MTfSXW63EyAxxysuMW0QVl8IQ=';
CREATE ROLE replicador;
ALTER ROLE replicador WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN REPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:x4zS1qbWsbKyrOVvucLpLw==$WEPDodo1+pS+T5mv3xdoX9s9HhvDGvmcPSwdJwmDW+o=:4TRQRvCH9IoftkAuOhzPuKEAUfcyRc0kNppuHh3YtyM=';

--
-- User Configurations
--








\unrestrict ClNEcyy8IsLZbPY5FC7W1QZCOXXcSU9aKRuTIrZNRINXOcFJr3JLn4QCj1lK3OC

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict LseVECvwAq5Xs5UAbxYIeMXtK36166SqBd3jGkORFbLkhDQPJVLjJYn7WfKrkBW

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-10-21 22:06:58 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

-- Completed on 2025-10-21 22:06:58 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict LseVECvwAq5Xs5UAbxYIeMXtK36166SqBd3jGkORFbLkhDQPJVLjJYn7WfKrkBW

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict oka9I5NELkWqrZBgG84ckKjPBEDK6XB4cRaMD5G5EnwBigXbgX2bm2KT9zaOBw2

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-10-21 22:06:58 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 215 (class 1259 OID 16389)
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    telefono character varying(20),
    email character varying(100),
    direccion text,
    fecha_registro timestamp without time zone DEFAULT now()
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- TOC entry 214 (class 1259 OID 16388)
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clientes_id_seq OWNER TO postgres;

--
-- TOC entry 3449 (class 0 OID 0)
-- Dependencies: 214
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- TOC entry 219 (class 1259 OID 16410)
-- Name: pedidos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    cliente_id integer,
    fecha_pedido timestamp without time zone DEFAULT now(),
    total numeric(10,2),
    estado character varying(20) DEFAULT 'pendiente'::character varying
);


ALTER TABLE public.pedidos OWNER TO postgres;

--
-- TOC entry 218 (class 1259 OID 16409)
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedidos_id_seq OWNER TO postgres;

--
-- TOC entry 3450 (class 0 OID 0)
-- Dependencies: 218
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- TOC entry 217 (class 1259 OID 16399)
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    precio numeric(10,2) NOT NULL,
    stock integer DEFAULT 0,
    categoria character varying(50),
    activo boolean DEFAULT true
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- TOC entry 216 (class 1259 OID 16398)
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.productos_id_seq OWNER TO postgres;

--
-- TOC entry 3451 (class 0 OID 0)
-- Dependencies: 216
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- TOC entry 221 (class 1259 OID 24578)
-- Name: test_wal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_wal (
    id integer NOT NULL,
    data text
);


ALTER TABLE public.test_wal OWNER TO postgres;

--
-- TOC entry 220 (class 1259 OID 24577)
-- Name: test_wal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.test_wal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.test_wal_id_seq OWNER TO postgres;

--
-- TOC entry 3452 (class 0 OID 0)
-- Dependencies: 220
-- Name: test_wal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.test_wal_id_seq OWNED BY public.test_wal.id;


--
-- TOC entry 3278 (class 2604 OID 16392)
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- TOC entry 3283 (class 2604 OID 16413)
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- TOC entry 3280 (class 2604 OID 16402)
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- TOC entry 3286 (class 2604 OID 24581)
-- Name: test_wal id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_wal ALTER COLUMN id SET DEFAULT nextval('public.test_wal_id_seq'::regclass);


--
-- TOC entry 3437 (class 0 OID 16389)
-- Dependencies: 215
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3441 (class 0 OID 16410)
-- Dependencies: 219
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pedidos (id, cliente_id, fecha_pedido, total, estado) FROM stdin;
1	1	2025-10-20 16:28:21.482304	1250.75	completado
2	2	2025-10-20 16:28:21.482304	890.50	completado
3	3	2025-10-20 16:28:21.482304	2100.25	procesando
4	4	2025-10-20 16:28:21.482304	750.00	pendiente
5	1	2025-10-21 22:03:30.508019	1250.75	completado
6	2	2025-10-21 22:03:30.508019	890.50	completado
7	3	2025-10-21 22:03:30.508019	2100.25	procesando
8	4	2025-10-21 22:03:30.508019	750.00	pendiente
\.


--
-- TOC entry 3439 (class 0 OID 16399)
-- Dependencies: 217
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3443 (class 0 OID 24578)
-- Dependencies: 221
-- Data for Name: test_wal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.test_wal (id, data) FROM stdin;
1	Test WAL archiving
\.


--
-- TOC entry 3453 (class 0 OID 0)
-- Dependencies: 214
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_id_seq', 8, true);


--
-- TOC entry 3454 (class 0 OID 0)
-- Dependencies: 218
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 8, true);


--
-- TOC entry 3455 (class 0 OID 0)
-- Dependencies: 216
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.productos_id_seq', 16, true);


--
-- TOC entry 3456 (class 0 OID 0)
-- Dependencies: 220
-- Name: test_wal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.test_wal_id_seq', 1, true);


--
-- TOC entry 3288 (class 2606 OID 16397)
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- TOC entry 3292 (class 2606 OID 16417)
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- TOC entry 3290 (class 2606 OID 16408)
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- TOC entry 3293 (class 2606 OID 16418)
-- Name: pedidos pedidos_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


-- Completed on 2025-10-21 22:06:59 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict oka9I5NELkWqrZBgG84ckKjPBEDK6XB4cRaMD5G5EnwBigXbgX2bm2KT9zaOBw2

-- Completed on 2025-10-21 22:06:59 UTC

--
-- PostgreSQL database cluster dump complete
--

