# docker-compose.yml
version: '3.8'
services:
  primary:
    image: postgres:15
    container_name: primary
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ${PWD}/primary/pgdata:/var/lib/postgresql/data
      - ${PWD}/primary/config:/config
      - ${PWD}/primary/archive:/mnt/server/archive
      - ./backups:/backups
      - ./wal_archive:/wal_archiv
      
    networks:
      - postgres_network
    command: -c 'config_file=/config/postgresql.conf'

  standby:
    image: postgres:15
    container_name: standby
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - ${PWD}/standby/pgdata:/var/lib/postgresql/data
      - ${PWD}/standby/config:/config
      - ${PWD}/standby/archive:/mnt/server/archive
    networks:
      - postgres_network
    command: -c 'config_file=/config/postgresql.conf'

  replica:
    image: postgres:15
    container_name: replica
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - ${PWD}/read/pgdata:/var/lib/postgresql/data
      - ${PWD}/read/config:/config
      - ${PWD}/read/archive:/mnt/server/archive
    networks:
      - postgres_network
    command: -c 'config_file=/config/postgresql.conf'

volumes:
  primary_data:
  standby_data:
  replica_data:

networks:
  postgres_network:
    driver: bridge 