services:
  primary:
    image: postgres:15
    container_name: primary
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./primary/pgdata:/var/lib/postgresql/data
      - ./primary/config:/config
      - ./primary/archive:/mnt/server/archive
      - ./backups:/backups
      - ./wal_archive:/wal_archiv
      - ./primary/exports:/exports
    networks:
      - postgres_network
    command: -c 'config_file=/config/postgresql.conf'

  standby:
    image: postgres:15
    container_name: standby
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - ./standby/pgdata:/var/lib/postgresql/data
      - ./standby/config:/config
      - ./standby/archive:/mnt/server/archive
    networks:
      - postgres_network
    command: -c 'config_file=/config/postgresql.conf'

  replica:
    image: postgres:15
    container_name: replica
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - ./read/pgdata:/var/lib/postgresql/data
      - ./read/config:/config
      - ./read/archive:/mnt/server/archive
    networks:
      - postgres_network
    command: -c 'config_file=/config/postgresql.conf'


  mongo-primary:
    image: mongo:8.2.1
    container_name: mongo-primary
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-primary/data:/data/db
      - ./mongo-primary/config:/data/configdb
      - ./mongo-primary/imports:/imports
    networks:
      - mongo-replica-set
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017", "--auth"]

  mongo-secondary-1:
    image: mongo:8.2.1
    container_name: mongo-secondary-1
    ports:
      - "27018:27018"
    volumes:
      - ./mongo-secondary-1/data:/data/db
    networks:
      - mongo-replica-set
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27018", "--auth"]

  mongo-secondary-2:
    image: mongo:8.2.1
    container_name: mongo-secondary-2
    ports:
      - "27019:27019"
    volumes:
      - ./mongo-secondary-2/data:/data/db
    networks:
      - mongo-replica-set
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27019", "--auth"]

networks:
  mongo-replica-set:
    driver: bridge
  postgres_network:
    driver: bridge
